# Byte-compiled / temporary files
__pycache__/
*.py[cod]
*.log
*.tmp

# Virtual environments
venv/
.env/

# OS-specific files
.DS_Store
Thumbs.db

# IDEs/editors
.vscode/
.idea/

# JSON data files

.gitignore
